/** {
    border: 1px solid rgba(255, 255, 255, 0.3);
}*/

body {
    background-image: url("Flame.jpeg");
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    display: inline;
    border:1px transparent;
    border-radius: 19px;
    position: relative;
    top: -6px;
    left: 84%;
}


.header {
    position: relative;
    background-color: #AD542C;
    box-shadow: 0 5px 7px rgba(150, 95, 12, 0.8);
    border-radius: 19px;
    top: -75px;
    width: 76%;
}

#filler {
    position: absolute;
    background-color: darkslateblue;
    box-shadow: 0 5px 7px rgba(50, 30, 200, 0.8);
    border-radius: 19px;
    top: 0;
    left: 77.1%;
    height: 4em;
    width: 5%;
    margin-top: 0.5%;
}

#filler:hover {
    background-color: rgb(50, 30, 200);
}

.helpicon {
    display: block;
    padding-top: 6%;
    margin: auto;
}

.window_1 {
    position: relative;
    overflow: scroll;
    border: #AD542C solid thick;
    background-color: rgba(0, 0, 0, 0.6);
    top: -35px;
    left: 67%;
    border-radius: 19px;
}

h1, h2, h3, h4, h5 {
    position: relative;
    padding-left: 0.7%;
    top: 11%;
    color: darkgoldenrod;
    font-size: 2em;
}

h4 {
    position: relative;
    top: 1em;
}

.name, .age, .gender, .genre, .email {
    color: #b85b04;
    padding-left: 8px;
    font-weight: bold;
}

.name {
    position: relative;
    top: 1em;
    left: 9em;
}

.email {
    position: relative;
    top: -1.1em;
    left: 6.2em;
}

.age {
    position: relative;
    top: .6em;
    left: 9em;
}

.gender {
    position: relative;
    top: .3em;
    left: 9em;
}

.genre {
    position: relative;
    top: -2.3em;
    left: 21em;
}

.edit {
    position: relative;
    top: .8em;
    left: 14%;
    box-shadow: 0 5px 7px rgba(150, 95, 12, 0.8);
    border-radius: 19px;
    width: 70%;
    font-size: 26px;
    font-family: 'Bodoni MT Condensed', sans-serif;
    padding-bottom: 5px;
    color: darkgoldenrod;
    padding-left: 5px;
    background-color: #ad1b21;
    opacity: .9;
}

.edit:hover {
    opacity: 1;
}

#play, #up {
    position: relative;
    top: .3em;
    left: 86%;
    opacity: 0.6;
    cursor: pointer;
}

.hello {
    cursor: pointer;
}

.dropdown {
    position: relative;
    top: -1em;
    font-size: 1.2em;
    left: 65%;
    width: 15%;
}

.hello:hover, .hello:focus {
    background-color: chocolate;
    border-radius: 19px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 19px;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: darkgoldenrod;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkred;
}

.show {
    display:block;
}


#user {
    position: relative;
    top: 1.5em;
    left: 41%;
    color: darkred;
    font-size: 2em;
    font-style: italic;
}

::-webkit-scrollbar {
    display: none;
}