/** {
    border: 1px solid rgba(255, 255, 255, 0.3);
}*/

body {
    background-image: url("DSC09590.jpg");
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    display: inline;
    border:1px transparent;
    border-radius: 19px;
    position: relative;
    top: -6px;
    left: 84%;
}


.header {
    position: relative;
    background-color: #AD542C;
    box-shadow: 0 5px 7px rgba(150, 95, 12, 0.8);
    border-radius: 19px;
    top: -75px;
    width: 76%;
}

#filler {
    position: absolute;
    background-color: darkslateblue;
    box-shadow: 0 5px 7px rgba(50, 30, 200, 0.8);
    border-radius: 19px;
    top: 0;
    left: 77.1%;
    height: 4em;
    width: 5%;
    margin-top: 0.5%;
}

#filler:hover {
    background-color: rgb(50, 30, 200);
}

.helpicon {
    display: block;
    padding-top: 6%;
    margin: auto;
}

.window {
    position: relative;
    left: 24%;
    border: #2b35ad solid thick;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 19px;
}

h1 {
    position: relative;
    color: #ad1b21;
    left: 10%;
}

#info {
    position: relative;
    left: 1%;
    top: 7%;
    color: darkgoldenrod;
    font-size: larger;
    font-weight: 800;
}

#thanks {
    position: relative;
    left: 10.8em;
    top: 9em;
    color: #ad1b21;
    font-size: larger;
    font-weight: 800;
}

.signup {
    position: relative;
    top: 6em;
    left: 24%;
    background-color: #ad1b21;
    box-shadow: 0 5px 7px rgba(150, 95, 12, 0.8);
    border-radius: 19px;
    width: 50%;
    font-size: 26px;
    font-family: 'Bodoni MT Condensed', sans-serif;
    padding-bottom: 5px;
    color: darkgoldenrod;
    padding-left: 5px;
}

.signup span:after {
    content: '»';
    position: relative;
    opacity: 0;
    top: -2px;
    right: -10px;
    transition: 0.5s;
}

.signup:hover span {
    padding-right: 15px;
}

.signup:hover span:after {
    opacity: 1;
    right: -3px;
}