src/main/webapp/resources/App_uploads/metal/21 pilots - Stressed Out.mp3
src/main/webapp/resources/App_uploads/metal/Alcest - Kodama.mp3
src/main/webapp/resources/App_uploads/rock/01 - The Illusive Man.mp3
src/main/webapp/resources/App_uploads/rock/King Kozz - FLEX.mp3
target/classes/App_uploads/metal/21 pilots - Stressed Out.mp3
target/classes/App_uploads/metal/Alcest - Kodama.mp3
target/classes/App_uploads/rock/01 - The Illusive Man.mp3
target/classes/App_uploads/rock/King Kozz - FLEX.mp3
src/main/webapp/resources/App_uploads/rock/pain_-_dirty_woman.mp3
target/classes/App_uploads/rock/pain_-_dirty_woman.mp3
src/main/webapp/resources/App_uploads/blues/Ikuko Kawai - Indigo Waltz.mp3
src/main/webapp/resources/App_uploads/electronic/VHS Glitch - Glitch.exe.mp3
src/main/webapp/resources/App_uploads/electronic/VHS Glitch - Jaw Breaker.mp3
src/main/webapp/resources/App_uploads/hiphop/21 pilots - Stressed Out.mp3
src/main/webapp/resources/App_uploads/metal/Dope - You Spin Me Right Round (Dead Or Alive Cover).mp3
target/classes/App_uploads/blues/Ikuko Kawai - Indigo Waltz.mp3
target/classes/App_uploads/electronic/VHS Glitch - Glitch.exe.mp3
target/classes/App_uploads/electronic/VHS Glitch - Jaw Breaker.mp3
target/classes/App_uploads/hiphop/21 pilots - Stressed Out.mp3
target/classes/App_uploads/metal/Dope - You Spin Me Right Round (Dead Or Alive Cover).mp3
target/classes/resources/App_uploads/electronic/VHS Glitch - Final Round.mp3
target/classes/resources/App_uploads/metal/Alcest - Kodama.mp3
target/classes/resources/App_uploads/metal/system_of_a_down_-_atwa.mp3
target/classes/resources/App_uploads/rock/Soil - Need To Feel.mp3
target/classes/resources/App_uploads/electronic/VHS Glitch - Return.mp3
